zengarden/.msbuild
zengine/.msbuild
zengine/lib/zengine-debug.lib
*.sdf
zengarden/app/zengarden-static.exp
*.opensdf
*.exp
zengine/lib/zengine-release.lib
zengarden/Release/
zengine.VC.db
zengine.VC.VC.opendb
zengine/x64/
demoplayer/.msbuild/
*.iobj
*.ipdb
*.csv
*.cfg
*.mp3
*.zen
.vs/
*.pdb
*.ilk
zengine/lib/zengine-debug64.lib
app/bass.dll
app/assimp-vc140-mt.dll
app/zengarden-debug64.exe
*.user
demoplayer/app/demo-debug64.exe
*.max
*.fbx
*.zenu
